.containers {
  width: 90%;
  margin: 0 auto;

  .img {
    border-radius: 5px;
    &-big {
    height: 61vh;
    }
    &-small {
      float: right;
    }
  }

  .img:hover{
    cursor: pointer;
  }

  .price-shipping {
    color: #dc143c;
  }

  .size-switch,
  .color-switch {
    width: 100%;

    input[type="radio"] {
      display: none;
    }
    label {
      border-radius: 50%;
      font-family: "montserratbold", sans-serif;
      border: 1px solid #e9e9e9;
      color: #16161a;
      cursor: pointer;
      display: block;
      height: 42px;
      padding-top: 8px;
      text-align: center;
      width: 42px;
    }
    span {
      border-radius: 50%;
      display: block;
      height: 26px;
      position: relative;
      width: 26px;
      margin: auto;
    }
  }

  .btn-1 {
    border-radius: 80px;
  }
  .description {
    margin: 30px 0;
    ::after {
      clear: both;
      content: "";
      display: block;
      visibility: hidden;
      height: 0;
    }
    &-label {
      position: relative;
      top: 1px;
      z-index: 100;
    }
    &-text {
      border: 0;
      font: inherit;
    }
  }
  .spinner-grow {
    color: #133a5e;
  }
}
